<html>
    <head>
        <title>Advanced 6 Education</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel='stylesheet' href='/static/openSans.woff2'   type='text/css'>
        <style>
            body {
                padding: 0;
                margin: 0;
                font-family: 'Open Sans', sans-serif;
            }
            table, th, td {
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
                text-align: center;
                border-bottom: 1px solid #ddd;
            }
            table {
                margin:0 auto;
                width:75%;
            }
            tr:hover{background-color:#f5f5f5}
            .hehe {
                padding-left: 20px;
            }
            #Top3-text {
                text-align: center;
            }
            #team_members{
                position: relative;
                top: 20px;
                right: 20px;
                text-align: right;
            }
            #word_cloud_div{
                width = 84%;
                font-size: 20px;
            }
            .float-left {
                float:left;
                width:33%;
            }
        </style>
    </head>
    
    <body>
        <div id="team_members">
			<p>Yingbing ZHAO (yz672), Shibo ZANG (sz428)</p> 
            <p>Yangwen WAN (yw762), Jingchen LI (jl3426)</p>
        </div>
        
        <form class="form-inline global-search" method='GET'>
            <h1 ; style="font-size: 35px; font-family:Futura; color: #4285F4">
                C
                <font color=#EA4335>S</font>
                <font color=#FBBC05>4</font>
                3
                <font color=#34A853>0</font>
                <font color=#EA4335>0</font>
            </h1><br>
            <p style="font-size: 30px;">Classified Movies</p>
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Key words in movie titles">
            </div>
            
            <button type="submit" class="btn btn-info" onclick="window.location.hash=''"> Go! </button>
        </form>
        
        <br>
        <div>
            {% if movie_list %}
            <h4 id="Top3-text">Top 10 Related Movies: 
            <span style="font-weight:bold;">"{{input_query}}"</span>
            </h4>
            <br>
            <table>
            <tr>
                <th>Movie Title</th>
                <th>Predicted Rating</th>		
                <th>Real Rating</th>
                <th>Comments</th>
            </tr>
                {% for movie in movie_list %}
                  <tr>
                    <td>{{movie.0}}</td>
                    <td>{{movie.1}}</td>
                    <td>{{movie.2}}</td>
                    {% if movie.4 %}
                        <td><a href="#detail_{{ forloop.counter }}">{{movie.3}}</a></td>
                    {% else %}
                        <td>{{movie.3}}</td>
                    {% endif %}
                  </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
        
        <br>
        <br>
        
        <div id="detail">
            {% for movie in movie_list %}
            <div id="detail_{{ forloop.counter }}" style="display:none">
                <h3 style="text-align: center;">
                    {{ movie.0 }}
                </h3>
                <div id="word_cloud_{{ forloop.counter }}" align="center"></div>
                <center><div style="width:600px;"><pre>{{movie.5}}</pre></div></center>
                {% if movie.6 %}
                <div id="topic">
                    <table>
                    <tr>
                        <th>Topic</th>
                        <th>Weight</th>		
                        <th>Words</th>
                    </tr>
                        {% for topic in movie.6 %}
                          <tr>
                            <td>{{topic.0}}</td>
                            <td>{{topic.1}}</td>
                            <td>{{topic.2}}</td>
                          </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        
<!--         <div id="word_cloud_div">
            <h4 align="center"></h4>
            <table>
            <tr>
                <th>{{movie_list.0.0}}</th>
                <th>{{movie_list.1.0}}</th>		
                <th>{{movie_list.2.0}}</th>
            </tr>
            </table>
            <div id="word_cloud_1" align="center" class="float-left"></div>
            <div id="word_cloud_2" align="center" class="float-left"></div>
            <div id="word_cloud_3" align="center" class="float-left"></div>
        </div>
 -->        
        {% if movie_list %}
        {% load static from staticfiles %}
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="https://www.jasondavies.com/wordcloud/cloud.min.js"></script>
        {% static "d3.v3.min.js" as minjs %}
        <script src="{{minjs}}"></script>
        {% static "d3.layout.cloud.js" as cloudjs %}
        <script src="{{cloudjs}}"></script>
        
        <script>
            
            // frequency_lists for top 3 movies
            var frequency_list = [];
            {% for f in freq_list %}
                var words = [];
                {% for word_weight in f %}
                    words.push({
                        "text": "{{word_weight.0}}",
                        "size": {{word_weight.1}}
                    });
                {% endfor %}
                frequency_list.push(words);
            {% endfor %}
                                    
            var colors = ["#FFCC00", "#4CD964", "#34AADC", "#007AFF","#5856D6",
            "#FF2D55","#FF2A68", "#FF9500", "#FF5E3A","#FFDB4C", "#FFCD02",
            "#0BD318","#5AC8FB","1D62F0","#5856D6","C643FC", "2B2B2B","#898C90",
            "#FF3B30","#FF9500","FFCC00","5856D6","8E8E93","5AD42","#FF3A2D",
            "BDBEC2","1F1F21","FF1400","FF4981","5BCAFF","55EFCB","D6CEC3",
            "1D77EF","81F3FD","#FF5B37","FB2B69","E0F8D8","#C86EDF"];
            
            function rand_color(colors) {
                return colors[Math.round(Math.random() * (colors.length - 1))];
            }
            
            // word_cloud_1
            for (i=1; i<11; i++)
            {
                if (i>frequency_list.length)
                    break;
                d3.layout.cloud().size([600, 250])
                        .words(frequency_list[i-1])
                        .rotate(0)
                        .fontSize(function(d) { return d.size; })
                        .on("end", draw1)
                        .start();
                
                function draw1(words) {
                
                    var svg =  d3.select("#word_cloud_" + i).append("svg")
                            .attr("width", 600)
                            .attr("height", 250)
                            .attr("class", "wordcloud")
                            .append("g")
                            // without the transform, words words would get cutoff to the left and top, they would
                            // appear outside of the SVG area
                            .attr("transform", "translate(300,150)")
                            .selectAll("text")
                            .data(words)
                            .enter().append("text")
                            .style("font-size", function(d) { return d.size + "px"; })
                            .style("fill", function(d) { return rand_color(colors); })
                            .attr("transform", function(d) {
                                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                            })
                            .text(function(d) { return d.text; });
                }
            }

            function displayDetail() {
                var id = window.location.hash.substring(1);
                var detail = document.getElementById("detail");
                var e = document.getElementById(id);
                if (e.style.display != "block")
                {
                    e.style.display = "block";
                    var hash =  window.location.hash;
                    
                    setTimeout(function(){ 
                        window.location.hash = '';
                        window.location.hash = hash;
                    }, 100);
                }
                for (i=0; i < detail.childNodes.length; i++)
                {
                    if (detail.childNodes[i].style && detail.childNodes[i] != e) {
                        detail.childNodes[i].style.display = "none";
                    }
                }
            }

            window.onload = window.onhashchange = displayDetail;
        </script>
        {% endif %}
    </body>
</html>